body{
  background: red;
  font-size: 1.5rem;
  font font-family: Tahoma;
}
nav ul li:hover{
  background: yellow;
}
h1 {
  clear: both;
}

@media screen and (min-width:801px){
  body{
    background: olive;
    color: white;
  }
  nav ul li {
    display: block;
    margin: 0.1em;
    background: green;
    float: left;
    padding: 0.5rem;

  }
}

@media screen and (max-width:850px){
  body{
  background: yellow;
  }
}

p:after {
  content: "";
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background: url(../img/ico0032.png);
  background-repeat: no-repeat;
  background-size: cover;

}
p:after {
  content: "";
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background: url(../img/ico0032.png);
  background-repeat: no-repeat;
  background-size: cover;

}


nav ul li {
  display: block;
  margin: 0.1em;
  background: green;
  padding: 0.5rem;
}
@media screen and (max-width:799px){

}


Iphone XS max
414x 719
808 x 364
